name: Deploy Documentation

on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Generate Docs
        run: ./gradlew :dokkaGenerate --no-configuration-cache

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'build/dokka/html'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4